* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 30px;
}


.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
